<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <h1>Edit this Portfolio Item</h1>

      <%= render 'form', portfolio: @portfolio %>

      <%= link_to 'Show', portfolio_show_path(@portfolio) %> |
      <%= link_to 'Back', portfolios_path %>
    </div>
  </div>
</main>