    <footer class="mastfoot mt-auto">
        <div class="inner">             
            <p>Cover is a one-page template for building simple and beautiful home. <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
    </footer>