<main role="main" class="inner cover">
  <div class="row">
    <div class="col-md-4">
    <%= image_tag "https://www.speedracing.com.br/wp-content/uploads/2019/02/2019-charles-leclerc-5.jpg", width:180, alt: "Edit Entry"%>
    </div>
    <div class="col-md-8">
    Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
    </div>
  </div>
</main>
