<main role="main" class="inner cover">
  <div class="row">
    <%@tweets.each do |t|%>
      <div class="col-md-6">
      <div class="tech-news">
        <div class="card">
          <%=t%>
        </div>
        </div>
      </div>
    <%end%>
  </div>
</main>